.Agricola,.agricola,.tax-33{
	background-color:rgb(109,173,59);
}

.Pecuario,.pecuario,.tax-34{
	background-color:rgb(137,53,42);
}
.Pesquero,.pesquero,.tax-35{
	background-color:rgb(76,178,226);
}
.gray{
	background-color:rgb(69,69,69);
}