.node-type-movilizacion-estados{
  #columns {
    font-family: sans-serif;
    #main-content-header h1 {
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
    }
    #content {
      .field-name-field-subtitle{
          max-width: 1000px;
          margin: 10px auto;
          position: relative;
      }
      .field-name-rendernodemovilizacionestado{
          max-width: 1000px;
          margin: 0 auto;
          position: relative;
          text-align: center;
      }
    }
  }
}

