.mov_maps{

	.mapa_iframe {
	    margin: 0 0 0px 175px;
	}
	.puntos-verificacion {
	      margin: -466px 0 0px 1063px;
	      position: absolute;
	  
	}

	.view-movilizaci-n-maps{
		[class*="views-row-"]{
			.punto_tit {   
	    	margin: -29px 0 16px 43px;

			}
		}
	}

	.maps_tit {
	  margin: -23px 0 5px 198px;
	  font-size: 33px;
	  font-family: sans-serif;
	}

	.subtitulo_maps {
    margin: 0 0 9px 199px;
    font-size: 18px;
	font-family: sans-serif;
	}
	
}//general