.sector-acuicola{
	#main-content{
		margin-left: 0;
		margin-right: 0;
		#block-system-main{
			#mini-panel-acuicolauno,.pane-clone-of-acuicolados,.pane-clone-of-acuicolatres{
				.region-three-25-50-25-first{
					.views-field-field-imgizq{
						img{
						margin: 12px 0 0 10%;
						}
					}
				}//izq

				.region-three-25-50-25-second{
					max-width: 1001px;
					[class*="views-row-"]{
						.views-field-field-titulouno,.views-field-field-titulodos,.views-field-field-titulotres{
							font-weight: bold;
							font-size: 2.5em;
							font-family: arial, sans-serif;
							margin: 15px 0 0 0;
						}
						.views-field-field-subtitulo{
							font-size: 1.2em;
							font-family: arial, sans-serif;
						}
						.views-field-field-descripcion{
							font-size: 1em;
							font-family: arial, sans-serif;
						}
						.views-field-nothing{
							background-color: #4cb2e2;
							width: 98%;
							height: 24px;
							margin: 0px 0 20px 0%;
							position: relative;
								span {
								    font-size: 11px;
								    margin: 0px 0 0 42%;
								    color: #fff;

								}
								a{
									.pdf{
									    width: 59px;
									    height: 55px;
									    margin: -24px 0 0 6%;
									    position: absolute;
									}
								}
						}

					}

					.pager--infinite-scroll{
						li{
						background-image: url("/sonora/sites/default/files/vermas/ver.png");
						display: block;
						background-repeat: no-repeat;
						background-size: 110px 50px;
						background-position: center center;

						}
						a{
							font-size: 1em;
							width: 110px;
							height: 50px;
							display: block;
							margin: 0px auto;
							color: black;

						}
					}

					.view-redesacuicola{
						margin: 0 0 14px -300px;
				    position: absolute;

						[class*="views-row-"]{
							display: inline-block;
							margin: 0;
							.views-field-field-imgred{
								a{
									img{
										width: 25px !important;
										height: 25px !important;

									}
								}
							}
						}
					}

				}//centro

				.region-three-25-50-25-bottom{
					.views-field.views-field-php{
				margin: 40px 0 40px 0;
				.field-content{
					.imagen-parallax{
						background-attachment: fixed;
						background-repeat: no-repeat;
						background-size: cover;
						height: 450px;
						margin: 0 auto;
						max-width: 2440px;
						overflow: hidden;
						padding: 0;
						position: relative;
						width: 100% !important;
					}
				}
			}
				}//bottom

				.region-three-25-50-25-third{
					.views-row-1{
						.views-field-field-imgder{
							    margin: 10px 0 0 58%;
						}
					}
				}
			}//miniuno
		}
	}
}//general
