.servicios-convocatoria{
	#block-system-main{
		.region-three-25-50-25-first{
			.views-field-field-imgizq{
				img{
				margin: 12px 0 0 10%;
				}
			}
		}//izq
		.region-three-25-50-25-third{
			.views-row-1{
				.views-field-field-imgder{
					    margin: 10px 0 0 58%;
				}
			}
		}//derecha

		.region-three-25-50-25-second{

			[class*="views-row-"]{
				.views-field-title{
					font-weight: bold;
					font-size: 2.5em;
					max-width: 1000px;
					margin: 20px auto 20px auto;
					font-family: arial, sans-serif;
				}
				.views-field-field-subtitulo{					
					font-size: 1.2em;
					font-family: arial, sans-serif;
					max-width: 1000px;
					margin: 0px auto 0px auto;

				}
				.views-field-field-descripcion{
					max-width: 1000px;
					margin: 0 auto 0 auto;
					font-size: 1em;
					font-family: arial, sans-serif;
					max-width: 1000px;
					margin: 0px auto 0px auto;
				}

				.views-field-nothing{
					background-color: #6dad3b;
					width: 96%;
					height: 24px;
					margin: 0px 0 20px 0%;
					position: relative;
						span {
						    font-size: 11px;
						    margin: 0px 0 0 42%;
						    color: #fff;
						    font-family: arial, sans-serif;

						}
						a{
							.pdf{
							    width: 59px;
							    height: 55px;
							    margin: -24px 0 0 6%;
							    position: absolute;
							}
						}
				}

			}
		}//centro

		.pager--infinite-scroll{
			a {
			    text-decoration: none;
			    color: black;
			    font-size: 1em;
			    font-family: arial, sans-serif;
			}
		}
	}//main
}//general