.home {
  /*slider*/
  /*slider*/
  /*thumbail*/
  /*Version laptop*/
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider {
  height: auto;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix {
  margin-left: -10px;
  margin-right: -10px;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome {
  width: 100%;
  height: auto;
  margin: 2% 0 0 0px;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-wrapper [class*="owl-item"]:hover .views-field-title {
  display: block;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-wrapper [class*="owl-item"] .views-field-field-imgslider img {
  width: 100%;
  height: 450px;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-wrapper [class*="owl-item"] .views-field-title {
  display: none;
  position: relative;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-wrapper [class*="owl-item"] .views-field-title a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 17px;
  text-decoration: none;
  width: 100%;
  position: absolute;
  bottom: 5px;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  height: 54px;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-controls {
  position: relative;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-controls .owl-pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-controls .owl-pagination .owl-page.active span {
  background: #fdfc3c;
  width: 8px;
  height: 8px;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-controls .owl-pagination .owl-page span {
  background: white;
  width: 8px;
  height: 8px;
  margin: 4px;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-controls .owl-pagination .owl-buttons .owl-prev {
  color: black;
  display: inline-block;
  zoom: 1;
  margin: -166px 27px 0px -463px;
  padding: 3px 10px;
  font-size: 25px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: rgba(227, 255, 8, 0.92);
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  position: absolute;
}

.home .panels-flexible-region.panels-flexible-region-5-slider.panels-flexible-region-first.slider .block-inner.clearfix .view-sliderhome .owl-controls .owl-pagination .owl-buttons .owl-next {
  color: black;
  display: inline-block;
  zoom: 1;
  margin: -162px 27px 0px 14px;
  padding: 3px 10px;
  font-size: 25px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: rgba(227, 255, 8, 0.92);
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  position: absolute;
}

.home #MapaSector3 h1 {
  margin: 16px 0 1% 135px;
}

.home #MapaSector3 iframe {
  margin: 50px auto 0 auto;
  width: 408px;
  display: block;
}

.home #MapaSector3 #mapaActiveHome {
  width: 66%;
  height: auto;
  margin: 0 auto;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside {
  position: relative;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-redes.panels-flexible-region-first.redes .view-redes-sociales {
  margin: 0 0 0 8px;
  position: absolute;
  bottom: 0;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-redes.panels-flexible-region-first.redes .view-redes-sociales [class*="views-row-"] {
  display: inline-block;
  margin: 0;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-redes.panels-flexible-region-first.redes .view-redes-sociales [class*="views-row-"] .views-field-field-imgred a img {
  width: 25px !important;
  height: 25px !important;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-redes.panels-flexible-region-first.redes .view-footer {
  margin: 0;
  font-size: 12px;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-thumbail.panels-flexible-region-last.thumbail {
  margin: 0px 0 0 0;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-thumbail.panels-flexible-region-last.thumbail .pane-sliderhome .view-sliderhome {
  width: 100%;
  height: auto;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-thumbail.panels-flexible-region-last.thumbail .pane-sliderhome .view-sliderhome [class*="views-row-"] {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin: 0 0 0 8px;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-thumbail.panels-flexible-region-last.thumbail .pane-sliderhome .view-sliderhome [class*="views-row-"] .views-field-field-imgslider img {
  width: 100%;
  height: auto;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-thumbail.panels-flexible-region-last.thumbail .pane-sliderhome .view-sliderhome [class*="views-row-"] .views-field-title {
  background-color: rgba(4, 4, 4, 0.46);
  position: relative;
  margin: -57px 0 0 0;
  height: 50px;
}

.home .panels-flexible-row-inside.panels-flexible-row-5-1-inside .panels-flexible-region-5-thumbail.panels-flexible-region-last.thumbail .pane-sliderhome .view-sliderhome [class*="views-row-"] .views-field-title a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  position: absolute;
  margin: 7px 0 0 9px;
  width: 94%;
  overflow: hidden;
  line-height: 19px;
  height: 37px;
}

@media only screen and (min-width: 900px) and (max-width: 1420px) {
  .home .panels-flexible-region-5-thumbail {
    /*slider*/
  }
  .home .panels-flexible-region-5-thumbail .views-field-field-imgslider img {
    width: 100%;
    height: 310px !important;
  }
  .home .owl-carousel-block2 .views-field-field-imgslider img {
    width: 100%;
    height: 387px !important;
  }
  .home #MapaSector3 h1 {
    margin: 16px 0 1% 61px;
  }
  .home #MapaSector3 #mapaActiveHome {
    width: 75% !important;
    height: auto;
    margin: 0 auto;
  }
}

.page-quienes-somos .view-redes-sociales,
.node-type-movilizacion .view-redes-sociales,
.directorio .view-redes-sociales,
.page-eventos-y-capacitaciones .view-redes-sociales {
  margin: 20px 0 0 8px;
  bottom: 0;
}

.page-quienes-somos .view-redes-sociales [class*="views-row-"],
.node-type-movilizacion .view-redes-sociales [class*="views-row-"],
.directorio .view-redes-sociales [class*="views-row-"],
.page-eventos-y-capacitaciones .view-redes-sociales [class*="views-row-"] {
  display: inline-block;
  margin: 0;
}

.page-quienes-somos .view-redes-sociales [class*="views-row-"] .views-field-field-imgred a img,
.node-type-movilizacion .view-redes-sociales [class*="views-row-"] .views-field-field-imgred a img,
.directorio .view-redes-sociales [class*="views-row-"] .views-field-field-imgred a img,
.page-eventos-y-capacitaciones .view-redes-sociales [class*="views-row-"] .views-field-field-imgred a img {
  width: 25px !important;
  height: 25px !important;
}
