.page-error-403{
	.view-paginaserrores{
		.views-field-field-imgerror{
			margin: 0 0 0 30%;
		}

		.views-field-title{
			margin: 0 0 0 28%;
		    font-size: 22px;
		    font-family: initial;
		}

		.views-field-field-linkerror {
		    margin: 28px 0 28px 45%;
		    font-size: 20px;
		    font-family: initial;
		    a {
		        text-decoration: none;
		        color: #f9f7f7;
		        background: gray;
		        padding: 11px;
		        border-radius: 21px;
		    }
		}
	}

}//403


.page-error-404{
	.view-paginaserrores{
		.views-field-field-imgerror{
			margin: 0 0 0 30%;
		}

		.views-field-title{
			margin: 0 0 0 40%;
		    font-size: 22px;
		    font-family: initial;
		}

		.views-field-field-linkerror {
		    margin: 28px 0 28px 47%;
		    font-size: 20px;
		    font-family: initial;
		    a {
		        text-decoration: none;
		        color: #f9f7f7;
		        background: gray;
		        padding: 11px;
		        border-radius: 21px;
		    }
		}
	}

}//403